// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Brand color
// green
$green2: #B9FFD6;
$green1: #68F5A3;
$green: #2ED573;
$green-1: #1C8848;
$green-2: #11522C;
$green-3: #072714;

// Secondary Color
// blue
$blue-3: #002142;
$blue-2: #0050A1;
$blue-1: #0066CC;
$blue: #1E90FF;
$blue1: #66B3FF;
$blue2: #B5DAFF;

$error: #DA334A;
