

.element.style {
  background: cover;
}

.round-plus-button {
    align-items: center;
    > * + * {
        margin: 0 -10px;
    }
    a.fas {
        width: 50px;
        height: 50px;
        font-size: 36px;
        color: $green;
        overflow: hidden;
        transition: 0.3s ease-out;
        &:hover {
            color: $green-1;
            font-size: 50px;
        }
    }
    .pending {
        filter: blur(2px);
    }
}

.challenge {
    div {
        form {
            display: flex;
            align-items: flex-end;
        }
        div {
            margin: 0;
            margin-top: 20px;
            flex-grow: 1;
            label {
                font-size: 18px;
                width: 100%;
            }
        }
        .btn {
            margin-left: 20px;
        }
    }
}

.challenge-btns {
    div {
        display: flex;
        justify-content: center;
        * {
            margin: 0 10px;
        }
    }
}

h4.challenge-found {
    color: $error;
    font-weight: bold;
    a {
        color: $blue;
        transition: 0.1s ease;
        &:hover {
            text-decoration: underline;
            color: $blue-1;
        }
    }
}

.comments {
    h5 {
        font-weight: bold;
        a {
            color: $blue;
            &:hover {
                text-decoration: underline;
                color: $blue1;
            }
        }
    }
}

#match-show-event-details {
    p {
        display: flex;
        span {
            width: 30px;
            display: flex;
            justify-content: center;
            margin-right: 10px;
        }
    }
}