.match-index {
    > .search {
        margin: 10vh 0;
        h2 {
            margin: 0;
            margin-bottom: 4vh;
        }
        form {
            font-family: $headers-font;
            input {
                color: $green-3;
                font-size: 18px;
                --height: 50px;
                height: var(--height);
                text-align: center;

                border-radius: 5px;
                margin: 0px;
                text-align: center;
            }
        }
    }
    > .navigations {
        h3 {
            font-size: 20px;
            width: 100%;
            margin: 0;
            padding: 7px 0;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
        }
        h3.active {
            background-color: $yellow;
        }
        border-radius: 14px;
        background: #eee;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    > .row {
        margin-bottom: 10vh;
        text-align: center;
        > div {
            padding: 0 28px;
            margin: 15px 0;
            color: $green-3;
            .content {
                padding-bottom: 30px;
                box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
                border-radius: 4px;
                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    object-position: center center;

                }
                div {
                    padding: 0 20px;
                    margin-top: 20px;
                    height: 80px;
                    text-align: center;
                    h4 {
                        margin: 0;
                    }
                    p {
                        font-size: 14px;
                        margin: 0 4px;
                    }
                }
                div + div {
                    p {
                        font-size: 14px;
                        text-align: left;
                    }
                    a {
                        margin: 20px 0;
                    }
                }
            }
        }
        > div.no-match {
            > div {
                display: block;
                > a {
                    margin-top: 10px;
                }
            }
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        > h4 {
            color: $error;
            font-style: italic;
        }
    }
}
