footer{
    .row {
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: $green;
        padding: 30px 6vw;
        justify-content: space-between;
        font-size: 18px;
        font-family: $headers-font;
        .logo {
            font-weight: bold;
            width: 100%;
            margin-bottom: 10px;
            max-height: 27px;
            overflow: hidden;
        }
        > div.col-sm-12 { // col-sm-12 col-6
            padding: 0;
            div {
                display: block;
                font-size: 18px;
                margin-top: 6px;
                overflow: hidden;
                max-height: 27px;
                a {
                    transition: all 0.2s ease;
                    &:hover {
                        font-size: 19px;
                    }
                    i {
                        margin-right: 6px;
                    }
                }
            }
        }
    }
}