// Own navbar
.navbar {
  z-index: 3;
  margin: 3vh 0;
  .dropdown {
    cursor: pointer;
    margin-right: 4vw;
    display: flex;
    align-items: center;
    p {
      margin: 0;
      margin-left: 8px;
    }
  }
  a {
    flex-grow: 1;
  }
  .logo {
    font-weight: bold;
    font-size: 24px;
    color: $green;
    margin-left: 4vw;
  }
  .options {
    display: flex;
    vertical-align: center;
    a {
      font-size: 18px; 
      margin-right: 26px;
      padding-top: 4px;
      padding-bottom: 4px;
      max-height: 35px;
      transition: all 0.2s ease;
      &:hover {
        font-size: 19px;
      }
    }
    .host-service {
      background-color: $green;
      padding: 4px 20px;
      border-radius: 4px;
    }
  }
  .search-bar {
    margin-right: 30px;
    form {
      font-family: $body-font;
      font-weight: bold;
      margin: 0 auto;
      * {
        text-align: center;
        border: none;
        font-size: 16px;
        border-radius: 5vh;
      }
      div > input {
        background-color: #eee;
        color: $blue-3;
      }
    }
  }
}
