// Own navbar
.navbar {
  z-index: 3;
  padding: 2vh 0;
  .dropdown {
    cursor: pointer;
    margin-right: 4vw;
    display: flex;
    align-items: center;
    p {
      margin: 0;
      margin-left: 0px;
    }
    div#notif-div {
      height: 40px;
      margin-left: -27px;
      margin-top: -30px;
      p#notif-total {
        height: 28px;
        width: 28px;
        margin: 0;
        padding: 4px 10px;
        font-size: 14px;
        background-color: $error;
        color: white;
        border-radius: 100vh;
      }
    }
    div {
      a {
        span { // the notif value
          margin-left: 4px;
          height: 28px;
          width: 28px;
          font-size: 14px;
          background-color: $error;
          color: white;
          padding: 4px 9px;
          border-radius: 100vh;

        }
      }
    }
  }
  a {
    flex-grow: 1;
  }
  .logo {
    font-weight: bold;
    font-size: 20px;
    color: $green;
    margin: 0;
    margin-left: 4vw;
    font-family: "montserrat";
    letter-spacing: 2px;
  }

  .options {
    display: flex;
    vertical-align: center;
    a {
      font-size: 18px;
      margin-right: 26px;
      padding-top: 4px;
      padding-bottom: 4px;
      max-height: 35px;
      transition: all 0.2s ease;
      &:hover {
        font-size: 19px;
      }
    }
    .host-service {
      background-color: $green;
      padding: 4px 20px;
      border-radius: 4px;
    }
  }
  .search-bar {
    margin-right: 30px;
    form {
      font-family: $body-font;
      font-weight: bold;
      margin: 0 auto;
      * {
        text-align: center;
        border: none;
        font-size: 16px;
        border-radius: 5vh;
      }
      div > input {
        background-color: #eee;
        color: $blue-3;
      }
    }
  }
}

a.nav-link {
  padding: 0;
}

.dropdown-toggle::after{
  @media only screen and (min-width: 30em) and (min-width: 60em) {
    margin-left: 0 !important;
    position: absolute;
    right: -12px;
    top: 16px;
  }

}

// notif mobile
#notif-mobile {
  > a {
    span {
      margin-left: 4px;
      height: 28px;
      width: 28px;
      font-size: 14px;
      background-color: #DA334A;
      color: white;
      padding: 4px 9px;
      border-radius: 100vh;
    }
  }
}
